In [17]:
import pandas as pd
df= pd.read_csv('Mall_Customers.csv',",")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [24]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(df).transform(df) 
df=pd.DataFrame(te_ary, columns=te.columns_) 
df

,,$,(,),-,0,1,A,C,D,...,k,l,m,n,o,p,r,s,t,u
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
print(df)

                $      (      )      -      0      1      A      C      D  \
0     True  False  False  False  False  False  False  False  False  False
1    False   True  False  False  False  False  False  False  False  False
2    False  False   True  False  False  False  False  False  False  False
3    False  False  False   True  False  False  False  False  False  False
4    False  False  False  False   True  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
195  False  False  False  False  False  False  False  False  False  False
196  False  False  False  False  False  False  False  False  False  False
197  False  False  False  False  False  False  False  False  False  False
198  False  False  False  False  False  False  False  False  False  False
199  False  False  False  False  False  False  False  False  False  False

     ...      k      l      m      n      o      p      r      s      t      u
0    ...  False  False  False  False  False  False  False  False  False  False
1    ...  False  False  False  False  False  False  False  False  False  False
2    ...  False  False  False  False  False  False  False  False  False  False
3    ...  False  False  False  False  False  False  False  False  False  False
4    ...  False  False  False  False  False  False  False  False  False  False
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
195  ...  False  False  False  False  False  False  False  False  False  False
196  ...  False  False  False  False  False  False  False  False  False  False
197  ...  False  False  False  False  False  False  False  False  False  False
198  ...  False  False  False  False  False  False  False  False  False  False
199  ...  False  False  False  False  False  False  False  False  False  False

[200 rows x 29 columns]

In [30]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [20]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) 
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [31]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.

In [32]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.